body {
  margin: 0%;
  background-image: url("./assets/bg1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.z-index {
  z-index: 2;
}

.box {
  position: relative;
  display: flex;
  width: 100vw;
  top: 10px;
}

.item {
  flex-direction: row;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.item1 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50vh;
  right: 2%;
  z-index: 2;
}

.item2 {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50vh;
  left: 2%;
  z-index: 2;
}

form {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}

img {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.hidebtn {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50vw;
  bottom: 10px;
  z-index: 2;
}
